.body {
    background-color: red;
    font-size: calc(20px + 2vmin);
}

.main {
    background-color: #FEF5ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.App-header {
    text-align: center;
    /* background-color: #ADC2A9; */
    font-size: calc(30px + 2vmin);
    color: rgb(163, 177, 143);
    margin: 0;
}

.form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #D3E4CD;
    border-radius: 10%;
    width: 400px;
    /* width: 90vw; */
    height: 25vw;
    row-gap: 10px;
}

input[type=text]:focus {
    background-color: blanchedalmond;
}

/* .sign-buttons-container {
    /* text-align: right; 
}*/

.main {
    display: flex;
    flex-direction: column;
}

.func-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 400px;
    /* width: 90vw; */
    height: 15vw;
    row-gap: 20px;

}

.func-button {
    flex: 5;
    background-color: #D3E4CD;
    border-radius: 25px;
    color: black;
    font-size: calc(2vmin);
}

.func-button:hover {
    background-color: #99A799;
    color: white;
}

input:invalid {
    background-color: rosybrown;
}